nav{
    color: white;
    background: #1f2833;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}
a{
    color: white;
    text-decoration: none;
    gap: 20px;
}
.menu{
    display: flex;
    gap: 20px;
}