<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<!--========================Navbar===============================-->
<div th:replace="fragments/navbar.html :: navbar"></div>

<!--====================Main container====================-->
<div class="main-container container">
    <div class="image-box">
        <img th:src="@{/images/score.svg}" alt="Image">
    </div>
    <div class="text-box">
        <h1>Spring App Quiz App</h1>
        <form class="card" th:action="@{/quiz}" method="POST">
            <label for="username">Enter Your User Name</label>
            <input type="text" id="username" th:name="username" placeholder="Enter Your Username">
            <p class="warning" th:if="${warning}" th:text="${warning}"></p>

            <button type="submit">Start Quiz</button>
        </form>
    </div>
</div>


<!--========================Footer===============================-->
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>